%h1 Overview
#listing
  %ol#article-listing
    - @posts.each do |key, value|
      %li
        %p.date
          = key.to_s :short_date_only if key
        - value.each do |post|
          %p
            .tools
              = link_to '[edit]', edit_post_url(post), :class => "icon edit", :title => 'Edit'
              = link_to '[delete]', post_url(post), :method => :delete, :confirm => "Are you sure you want to delete this post?", :class => "icon delete", :title => 'Delete'
            .title= link_to post.title, post_url(post)
= render :partial => 'admin/posts/creation_tools'
    
    
