= error_messages_for :post

#new-post-form
  - form_for(@post) do |f|
    %p
      = label :post_type, "Type:"
      = select :post, :post_type, [["Event", "event"], ["Post", "post"]]
    %p
      = label :title, "Title:"
      = f.text_field :title, :class => :textbox_body
    %p
      = label :body, "Body:"
      ~ f.text_area :body, :class => :textbox_body
    %p
      = label :tags, "Tags:"
      = f.text_field :tag_list, :class => :textbox_body
    %p
      = label :presenter, "Presenter:"
      ~ f.text_field :presenter, :class => :textbox_body
    %p
      = label :location_id, "Location:"
      = select :post, :location_id, locations_for_select_list
    %p
      = label :start_time, "Start date/time:"
      = f.text_field :start_time, :class => :textbox_body
    %p
      = label :end_time, "End date/time:"
      = f.text_field :end_time, :class => :textbox_body
    %p
      = f.check_box :is_published
      = label :post, :is_published, "Published?", :class => "boolean"
    %p
      = f.check_box :sticky
      = label :post, :sticky, "Sticky?", :class => "boolean"
    %p
      = f.submit "Submit"
