.post
  %strong.chicklet
    = post.post_type || "Post"
  %p.info
  %h1= post.title
  - if post.post_type == "event"
    .event-meta
      - unless post.presenter.empty?
        .presenting
          %em Presenting
          = post.presenter
      .date
        %em 
          = post.start_time.to_s :long_ordinal_12hour
        at
        = link_to post.location.name, p_location_url(:permalink => post.location.permalink)
  - unless post.type
    .post-meta
      = post.created_at.to_s :short_date_only
      %em
        by
      = post.author.name
  .post-content
    = textilize post.body
    #tools
      %a{:href => post_url(post)} permalink
