!!! strict
%html{ :lang => "en" }
  %head
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "content-type" }/
    %title
      clerb - the cleveland / northeast ohio ruby users group
    %meta{ :name => "author", :content => "joe fiorini" }/
    %link{ :href => "/stylesheets/reset.css", :rel => "stylesheet", :type => "text/css" }/
    %link{ :href => "/stylesheets/admin.css", :rel => "stylesheet", :type => "text/css" }/
  %body
    #container
      #mast
        #logo
          %a{ :href => "/" }
            %span
              clerb : the cleveland ruby brigade / northeast ohio ruby users group
      - for_admin_only do
        #navigation
          %ul
            %li= link_to 'overview', '/'
            %li= link_to 'posts', posts_path
            %li= link_to 'events', events_path 
        #welcome_message
          %em= @current_user.name
          |
          = link_to 'logout', logout_url
      #main
        #page-content
          = yield
  %script{ :type => "text/javascript" }
    var gajshost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3cscript src='" + gajshost + "google-analytics.com/ga.js' type='text/javascript'%3e%3c/script%3e"));
  %script{ :type => "text/javascript" }
    var pagetracker = _gat._gettracker("ua-4828879-1");
    pagetracker._initdata();
    pageTracker._trackPageview();
